@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700|Roboto+Condensed:400,700|Roboto+Mono&display=swap');
/*
	font-family: 'Roboto Condensed', sans-serif;
	font-family: 'Roboto Mono', monospace;
	font-family: 'Noto Serif', serif;
*/

a:link, a:visited {
	color: white; /* Changed color to white from blue */
}

a:focus, a:hover {
	background-color: #ddddff;
	border-radius: 5px;
	text-decoration: underline;
	transition-duration: 0.2s;
	transition-property: background;
}

body {
	font-family: 'Noto Serif', serif;
	font-size: 18px;
}

h1, h2 {
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: .05em;
	margin: 1.5rem auto;
	text-align: center;	
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.25rem;
}

header {
	text-align: center;
}

main {
	background-color: rgb(231, 146, 161); /* Mage background color for the main a pinkish color */
	color: white; /* Made text color white*/
}
aside { /* Added styling to aside element */
	background-color: red; /* Mage background color for the aside a red color */
	color: white; /* Made text color white*/
}
nav { /* Added styling to nav element */
	background-color: green; /* Made background color for the nav green */
}
p {
	line-height: 140%;
	margin-bottom: 1em;
}

#intro {
	font-size: 22px;
}

#automotive, #maritime, #medical, #physics, #myths {

}

#footer-container {
	background-color: lightblue; /* Set the background to lightblue */
	color: white; /* set the text color to white */
	text-align: center; /* Aligned text to center */
	padding: 20px; /* Added 20 pixels of padding */
	grid-column: 1 / -1; /* Spans the #footer-container in a grid layout from the first to last column */
}

#header-container {
	background-color: orange; /* Set the background to Orange */
	color: white; /* set the text color to white */
	padding: 20px; /* Added 20 pixels of padding */
	grid-column: 1 / -1;  /* Spans the #header-container in a grid layout from the first to last column */
	
}

#main-container {
	display: grid; /* Makes a grid container */
	grid-template-areas: /* This specifies the areas within the grid */
		"nav main aside"; /* The areas within the grid will be arranged in a single row going by nav, main, and aside */
	grid-template-columns: 1fr 2fr 1fr; /* Defines the width of each column in the grid the nav and aside will be (1fr) and the main will be (2fr) */
	gap: 10px; /* Set a 10-pixel gap between the grid items, both rows and columns */
	padding: 10px; /* Added 10 pixels of padding */
	width: 100%; /* Set the width to 100% */
}